language:
  - generic

os:
  - linux

install:
  - sudo apt-get update;
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda3.sh;
  - bash miniconda3.sh -b -p $HOME/miniconda3

  # CONDA PY3 BUILD
  - export PATH="$HOME/miniconda3/bin:$PATH"
  - which python
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda install pip notebook nbconvert -qy

  # install toytree from master using pip
  - git clone https://github.com/eaton-lab/toytree.git toytree-git
  - cd toytree-git
  - pip install -e .
  - cd ..

  # install notebook necessities
  - conda install jupyter -qy

  #- pip install 
  #- conda install pip jupyter notebook nbconvert ipykernel -qy
  #- conda install future requests numpy reportlab -qy
  #- pip install toytree
  #- conda install -c eaton-lab toytree


# command to run tests
script: 
 
  #test installation
  - export PATH="$HOME/miniconda3/bin:$PATH"
  - python -c "import toyplot; print(toyplot.__version__)"
  - python -c "import toytree; print(toytree.__version__)"

  # test toytree code
  - jupyter-nbconvert --ExecutePreprocessor.kernel_name="python3" --execute docs/tutorial.ipynb --output pytest --to html  